.aligncenter,
.alignnone,
.alignright,
.alignleft {
    display: block;
    margin: 1.6em auto;
    clear: both;
}

@media screen and (min-width: 768px) {
    .alignnone {
        margin: 3em 0;
    }
    .aligncenter {
        margin: 2.2em auto;
    }
    .alignleft,
    .alignright {
        max-width: 50%;
    }
    .alignright {
        float: right;
        margin: .4em 0 1em 2em;
    }
    .alignleft {
        float: left;
        margin: .4em 2em 1em 0;
    }
}

@media screen and (min-width: 1200px) {
    .blog-single .alignright,
    .blog-single .wp-caption.alignright {
        max-width: 68%;
        margin-right: -140px;
        margin-left: 2em;
    }
    .blog-single .alignleft,
    .blog-single .wp-caption.alignleft {
        max-width: 68%;
        margin-left: -140px;
        margin-right: 2em;
    }
}

@media screen and (min-width: 768px) {
    .site-title {
        background: #2ba163;
    }
}

a {
    color: #009966;
}

a:hover {
    color: #8acb82;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover,
a.button:hover,
.event h3,
.event h2 + p i,
.event h2 + p img,
#search-submit,
.entry-meta .cat-links a,
.pagination a:hover,
.navigation a:hover,
a.more-link:hover,
#nprogress .bar,
.section-title h2 i,
.event:nth-of-type(2):after {
    background-color: #8acb82;
}

.bypostauthor > article {
    border-color: #8acb82;
}

#nprogress .spinner-icon {
    border-top-color: #8acb82;
    border-left-color: #8acb82;
}

.event h3:before {
    border-color: #8acb82;
}

body .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #8acb82;
}

.one-page-layout .site-main > section:nth-of-type(3) {
    background-color: #ebf0df;
}
